/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.grid_2col_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid_2col_2-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (width>=992px) {
  .grid_2col_2-1 {
    grid-template-columns: 2fr 1fr;
  }

  .order {
    order: -1;
  }
}

.box {
  padding: 0.5rem;
  border: 1px solid green;
}
